In [54]:
import numpy as np
import pandas as pd
import matplotlib
import os

In [56]:
import nba_api
from nba_api.stats.static import teams
from nba_api.stats.library.http import NBAStatsHTTP
from nba_api.stats.library.parameters import LeagueID, Season

In [57]:
from nba_api.stats.endpoints import commonplayoffseries

In [67]:
from nba_api.stats.endpoints import teamdetails

In [ ]:
# Get all playoff series from 2003 (when the first round was increased to 7 games) until present.

In [68]:
# Get info on all playoff games.
playoffData = commonplayoffseries.CommonPlayoffSeries(league_id = '00', season = '1990')
playoffData.data_sets[0].get_data_frame()

       GAME_ID  HOME_TEAM_ID  VISITOR_TEAM_ID  SERIES_ID  GAME_NUM
0   0049000001    1610612749       1610612755  004900000         1
1   0049000002    1610612759       1610612744  004900000         2
2   0049000003    1610612741       1610612752  004900000         3
3   0049000004    1610612756       1610612762  004900000         4
4   0049000005    1610612747       1610612745  004900000         5
..         ...           ...              ...        ...       ...
63  0049000064    1610612741       1610612747  004900006         4
64  0049000065    1610612741       1610612747  004900006         5
65  0049000066    1610612747       1610612741  004900006         6
66  0049000067    1610612747       1610612741  004900006         7
67  0049000068    1610612747       1610612741  004900006         8

[68 rows x 5 columns]

In [66]:
# Get current NBA teams
nbaTeams = teams.get_teams()
nbaTeams = pd.DataFrame(nbaTeams)

In [69]:
teamInfo = teamdetails.team_history

AttributeError: module 'nba_api.stats.endpoints.teamdetails' has no attribute 'team_history'